<div class="comment_content">
  <div class="row">
    <div class="col-md-4"><strong><%= comment.name %></strong></div>
    <div class="col-md-8 text-right"><%= comment.body %></div>
  </div>
  <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
  <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %>
</div>
