<%= simple_form_for @post do |f|  %>
  <%= f.input :title, placeholder: 'Title' %>
  <%= f.text_area :body, "data-provide" => "markdown", "placeholder" => "Post content with markdown format..." %>
  <div class="form-actions">
    <%= f.button :submit%>
  </div>
<% end %>
